<div class="row-fluid footer">
    <div class="span4 offset2">
        <a ng-href="#/about">About</a>&nbsp;|&nbsp;
        <a href="#/contact">Contact</a>&nbsp;|&nbsp;
        <a href="#/faqs">FAQ's</a>&nbsp;|&nbsp;
        <a href="#/privacy">Privacy Policy</a>
    </div>
    <div class="span2 offset2">
        <strong>
            <span class="text-info pull-right">&copy; 2013 let's have coffee</span>
        </strong>
    </div>
</div>
<div class="row-fluid">
    <center>
        <a href="#">
            <img src="../common/images/logo.png">
        </a>
    </center>

</div>
