<div class="row-fluid" id="header">
    <div class="span4 offset2">
        <div class="logo">
            <a href="./">
                <img src="../common/images/logo.png">
            </a>
        </div>
        <a href="#">
            <div class="tagline">let's have coffee!
                <span class="small">BETA</span>
            </div>
        </a>
    </div>
    <div class="span2 offset4 icons">
        <div class="span6">
            <a href="https://www.facebook.com/letshavecoffeeindia">
                <img src="../common/images/facebook.png">
            </a>
            <a href="https://twitter.com/BrewAwesomeness">
                <img src="../common/images/twitter.png">
            </a>
        </div>
    </div>
</div>
