@font-face {
    font-family:'harabararegular';
    src: url('fonts/Harabara.ttf') format('truetype'), url('fonts/harabara/harabara_0-webfont.svg') format('svg')
}

@font-face {
	font-family: 'agenda';
	src: url('fonts/Agenda-Medium.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    background: url("../images/back.png") repeat fixed center center transparent;
}

.container-fluid {
    padding: 0 0 0 0;
}
#header {
    height: 75px;
    margin-top: 3px;
    top: 0px;
    width: 100%;
}
#header .logo {
    float: left;
    margin-top: 2px;
}
#header .logo img {
    width: 60px;
    border: 0px solid #fff;
}
#header .tagline {
    color: #217EA7;
    float: left;
    font-family:'harabararegular';
    font-size: 36px;
    margin-left: 2%;
    margin-top: 5%;
}

#header .small {
    color: orangered;
    font-family:'harabararegular';
    font-size: 18px;
}

#content {
    margin: 2% 0 1% 0;
    background: url("../images/sample.png") repeat fixed center center transparent;
    width:100%;
}
#content .picture {
    height: 96%;
    margin: 1.2%;
    padding: 4%
}
#content .steps {
    bottom: 0;
    height: 100%;
    margin: -8% 0 0 -8%;
}

#signup {
	padding: 15px;
	margin: 50px;
	background: white;
	width: 50%;
	border-radius:10px;
    font-family:'agenda';
}

#message {
    padding: 15px;
    margin: 50px;
    width: 75%;
    font-family:'agenda';
    font-size: 16px;
    min-height: 100px;  
}


#signup p {
    color: #217EA7;
    float: left;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 2.2%;
}

#signup .radiotext {
    color: #217EA7;
    float: left;
    font-size: 16px;
    margin-left: 2%;
    margin-top: 2.2%;
}

.box {
	border-radius:4px;
	font-family: agenda;	
}

.box img {
	float:left;
}

.box h3 {
    font-family:'harabararegular';
    font-size: 18px;	
    color: #217EA7;    
}

.break {
	border: 1px solid #ababab;
	margin-top: 5%;
}

#header .icons {
	padding: 15px;
}

#header .icons img {
	padding-right: 5px;
}

.footer {
	padding-top: 5%;
    font-family:'agenda';

}

.pages {
	background:#eeffee; 
	padding: 20px; 
	border-radius:10px;
	border: 1px solid;
    font-family:'agenda';	
}

.pages h3 {
    font-family:'harabararegular';
    font-size: 24px;	
    color: #217EA7;    	
}

.pages .para {
	font-size: 18px;
}

.pages span {
    color:#62482a;
    font-weight:bold;
}

.pages .box {
    padding: 20px;
    border: 1px solid #ababab;
    margin: 10px;
}