@import url('style1.css');
@import url('style2.css');

/*  Luv Guru V1.0
 *  License
 *  -------------------------------------------------------
 *  Author : Pakzinc Technologies
 *	-------------------------------------------------------
 *  Contact :  info@pakzinc.co.in
 *  -------------------------------------------------------
 *  Email: development@pakzinc.co.in
 *  -------------------------------------------------------
 *  Twitter: http://twitter.com/pakzinc
 */
 
body{
 margin: 0;
background: #fff;
background-repeat: repeat;
}

@font-face {
    font-family: 'harabararegular';
    src: url('fonts/harabara/harabara_0-webfont.eot');
    src: url('fonts/harabara/harabara_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/harabara/harabara_0-webfont.woff') format('woff'),
         url('fonts/harabara/harabara_0-webfont.ttf') format('truetype'),
         url('fonts/harabara/harabara_0-webfont.svg#harabararegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calligraffitiregular';
    src: url('fonts/Calligrafiti/calligraffiti-webfont.eot');
    src: url('fonts/Calligrafiti/calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calligrafiti/calligraffiti-webfont.woff') format('woff'),
         url('fonts/Calligrafiti/calligraffiti-webfont.ttf') format('truetype'),
         url('fonts/Calligrafiti/calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
}

#header {
background: none repeat scroll 0 0 #FFFFFF;
height: 75px;
margin-top: 3px;
position:fixed;
top: 0px;
width: 100%;
}

#header .logo{
float: left;
margin-top: 2px;
}

#header .logo img{
width: 60px;
border: 0px solid #fff;
}
#header .tagline {
    color: #217EA7;
    float: left;
    font-family: 'harabararegular';
    font-size: 23px;
    margin-left: 2%;
    margin-top: 2.2%;
}

#header .login{
float: right;
margin-top:1.5%;
font-weight: bold;
font-size:14px;
color:#e60505;
margin-right: 20px;
}

#header .login a{
color: #e60505;
}

#content {
margin: 6% 0 1% 0;
background: url("../images/sample.png") repeat fixed center center transparent;
width:100%;
}

#content .sketch{
	float: left;
    height: 96%;
    margin-left: 1.2%;
    padding-top: 4%;
    position: absolute;
    width: 40%;
}

#content .process{
	bottom: 0;
    height: 100%;
    margin-bottom: 1.4%;
    margin-left: 38.2%;
    margin-top: 0.3%;
    position: absolute;
    width: 30%;
}

#content .register{
float:right;
width: 33%;
margin-right: 0.6%;
}
#content .create-profile{
width: 99%;
margin-right: 0.6%;
}

#content .loginFeature{
width: 100%;
margin: 1px auto;
border-radius: 18px 18px 18px 18px;
overflow: hidden;
box-shadow: 0 4px 8px #111111;
height: auto;
}

#content .login{
float:left;
width: 33%;
margin-top: -38%;
margin-left: 6%;
}

#boxesmain {
	width: 100%;
	background: none repeat scroll 0 0 #FFFFFF;
	height: 120px;
}
.inner-box h2{font-size:19px;}

#boxesmain .inner-box{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    border-radius: 5px 5px 5px 5px;    
    width: 98.8%;
	float: left;
	margin:0%;
}

#boxesmain .item {
	border-right: 1px dotted #D9D9D9;
    color: #666666;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: 2% 1% 1% 2%;
    padding-right: 4px;
    padding-top: 14px;
    width: 30%;
}

#boxesmain .inner-box .image {
	float:left;
	margin: 0 0 0 -17px;
}



#footer {
	float: left;
	background-color: #eef5f8;
	/*margin: 1% 0 0 23%; */
	color: #fff;
	width: 100%;
}
#footer-inner{width: 100%; 
                    padding: 0.5% 0%;
                    margin: 0 auto; 
                    text-align: center;
                    /*background: url('../images/curtainBG_white.png');*/
					position: absolute;
					bottom: 0px;
			}

#links a{
	color: #000;
	padding-left:10px;
}
#links span {margin-left:10px;color: #000;}
#links span a{padding-left:1px;color: #000;}


#questions-content {
width: 100%;
height: auto;
border-radius: 18px;
padding: 1%;
}

#qcontent{
width: 100%;
height: auto;
background: #fff;
border-radius: 5px;
padding: 2%;
min-height: 384px;
}

#qcontent .title{
text-align: center;
font-size: 30px;
margin-bottom: 2%;
}

#qcontent .question{
text-align: center;
font-size: 26px;
margin-bottom: 2%;
}

#qcontent .answers{
margin-bottom: 2%;
}

#qcontent ul li{
background: #d9d9d9;
border-radius: 18px;
display: inline;
padding: 27px 68px;
font-size: 36px;
font-weight: bold;
}

#qcontent ul .active,
#qcontent ul li:hover{
background: #62482a;
color: #fff;
cursor: pointer;
}

#qcontent .optionDetails{
width: 82%;
margin: 1px auto;
margin-bottom: 2%;
}

#qcontent .buttons{
clear: both;
width: 100%;
margin: 1px auto;
margin-bottom: 2%;
}

button.action-button{
border: 0px outset buttonface;
width: 100px;
height: 30px;
background: #d9d9d9;
color: #000;
font-weight: bold;
font-family: 'Lato', Calibri, Arial, sans-serif;
border-radius: 11px;
}

button.action-button:hover{
cursor: pointer;
background: #62482a;
color: #fff;
}

#ocontent{
width: 100%;
height: auto;
background: #fff;
border-radius: 5px;
padding: 2%;
padding-bottom: 9%;
}

#ocontent .title{
text-align: center;
font-size: 30px;
margin-bottom: 2%;
}

#ocontent .question{
text-align: center;
font-size: 26px;
margin-bottom: 2%;
}

#ocontent .answers{
margin-bottom: 1%;
height: 70px;
width: 96%;
margin: 0 auto;
}

#ocontent .SubmitAnswers{
margin-bottom: 1%;
height: 70px;
width: 43.4%;
float:right;
clear: both;
}

#ocontent .tabs{
				font-family: 'Lato', Calibri, Arial, sans-serif;
				border: 0px outset buttonface;
				width: 49%;
				background: #d9d9d9;
				border-radius: 18px;
				display: inline;
				padding: 19px 0px;
				font-size: 20px;
			   }
#ocontent .tabs:hover{background: #62482a;
color: #fff;
cursor: pointer;}
#ocontent ul li{
background: #d9d9d9;
border-radius: 18px;
display: inline;
padding: 30px 62px;
font-size: 20px;
font-weight: bold;
}

#ocontent ul .active,
#ocontent ul li:hover{
background: #62482a;
color: #fff;
cursor: pointer;
}

#ocontent .optionDetails{
width: 90%;
margin: 1px auto;
margin-bottom: 2%;
}


/*Login Forms*/
/*Globals*/

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-2 {
    /* Size and position */
    
    margin-top:5%;
	margin-bottom: 4%;
    padding: 15px 15px 1px 15px;
    position: relative;
	min-width: 302px;
	max-width: 100%;

    /* Styles */
    background: #fff;
    border-radius: 4px;
    color: #7e7975;
}

.form-2 h1 {
	border-bottom: 1px solid #EBE6E2;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #BDB5AA;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 8px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
}

.form-2 h1 .sign-up {
    display: inline-block;
    text-transform: uppercase;
}
.form-2 h1 .log-in{
display: inline-block;
}

.form-2 h1 .log-in {
    color: #6c6763;
    padding-right: 2px;
}

.form-2 h1 .sign-up {
    color: #62482a;
    padding-left: 2px;
}

.form-2 .float {
    width: 50%;
    float: left;
    padding-top: 0px;
    border-top: 1px solid rgba(255,255,255,1);
}

.form-2 .float:first-of-type {
    padding-right: 5px;
}

.form-2 .float:last-of-type {
    padding-left: 5px;
}

.form-2 .floatfull {
    width: 100%;
    float: left;
    padding-top: 0px;
    border-top: 1px solid rgba(255,255,255,1);
}

.form-2 label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.form-2 label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.form-2 input[type=text],
.form-2 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 4px;   
    border: 2px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover,
.form-2 input[type=password]:hover {
    border-color: #CCC;
}

.form-2 select {
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 99%;
    padding: 4px;
    margin-bottom: 3px;
    border: 2px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-2 label:hover ~ input {
    border-color: #CCC;
}

.form-2 input[type=text]:focus,
.form-2 input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.form-2 input[type=submit],
.form-2 .log-twitter {
    /* Size and position */
    width: 100%;
    height: 35px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.form-2 input[type=submit] {
    margin-bottom: 15px;
    margin-left: 1%;
    margin-top: 15px;
    background: #E70606;
	font-size:16px;    
    border: 1px solid #62482a;
    color: #fff;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}

.form-2 .log-twitter {
    margin-right: 1%;
    background: #34a5cf; /* Fallback */
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.form-2 input[type=submit]:hover,
.form-2 .log-twitter:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.form-2 input[type=submit]:active,
.form-2 .log-twitter:active{
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .form-2 input[type=submit]:hover {
    background: #62482a;
}

.no-boxshadow .form-2 .log-twitter:hover {
    background: #2a8ac4;
}

.form-2 p:last-of-type {
    clear: both;    
}

.form-2 .opt {
    text-align: right;
    margin-right: 3px;
}

.form-2 label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

.form-2 input[type=checkbox] {
    vertical-align: middle;
    margin: -1px 5px 0 1px;
}

.create-profile-form {
    /* Size and position */
    
    margin-top:5%;
	margin-bottom: 4%;
    padding: 50px 90px 1px 90px;
    position: relative;
	min-width: 302px;
	max-width: 100%;

    /* Styles */
    background: #fff;
    border-radius: 4px;
    color: #7e7975;
}

.create-profile-form h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.create-profile-form h1 .log-in,
.create-profile-form h1 .sign-up {
    display: inline-block;
    text-transform: uppercase;
}

.create-profile-form h1 .log-in {
    color: #6c6763;
    padding-right: 2px;
}

.create-profile-form h1 .sign-up {
    color: #62482a;
    padding-left: 2px;
}

.create-profile-form .float {
    width: 50%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.create-profile-form .float:first-of-type {
    padding-right: 5px;
}

.create-profile-form .float:last-of-type {
    padding-left: 5px;
}

.create-profile-form .float_onethird {
    width: 35%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}
.create-profile-form .Or{width:30%;float:left;text-align: center;margin-top: 41px;}
.create-profile-form .float_onethird:first-of-type {
    padding-right: 5px;
}

.create-profile-form .float_onethird:last-of-type {
    padding-left: 5px;
}
.create-profile-form .registerButtonfloat {
    width: 40%;
    float:right;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
	margin:0 0 20px 0;
}
.create-profile-form .ErrorBlock {float: left;
font-size: 16px;
color: red;
padding-top: 20px;}
.create-profile-form .floatfull {
    width: 100%;
    float: left;
    padding-top: 10px;
    border-top: 1px solid rgba(255,255,255,1);
}

.create-profile-form label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.create-profile-form label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.create-profile-form input[type=text],
.create-profile-form input[type=password],
.create-profile-form input[type=file] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.create-profile-form input[type=text]:hover,
.create-profile-form input[type=password]:hover {
    border-color: #CCC;
}

.create-profile-form select {
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 99%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.create-profile-form label:hover ~ input {
    border-color: #CCC;
}

.create-profile-form input[type=text]:focus,
.create-profile-form input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.create-profile-form input[type=submit],
.create-profile-form .log-twitter {
    /* Size and position */
    width: 100%;
    height: 38px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.create-profile-form input[type=submit] {
    margin-left: 1%;
    background: #eea652; /* Fallback */
    background: -moz-linear-gradient(#eea652, #62482a);
    background: -ms-linear-gradient(#eea652, #62482a);
    background: -o-linear-gradient(#eea652, #62482a);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eea652), to(#62482a));
    background: -webkit-linear-gradient(#eea652, #62482a);
    background: linear-gradient(#eea652, #62482a);
    border: 1px solid #62482a;
    color: #fff;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}

.create-profile-form .log-twitter {
    margin-right: 1%;
    background: #34a5cf; /* Fallback */
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.create-profile-form input[type=submit]:hover,
.create-profile-form .log-twitter:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.create-profile-form input[type=submit]:active,
.create-profile-form .log-twitter:active{
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .create-profile-form input[type=submit]:hover {
    background: #62482a;
}

.no-boxshadow .create-profile-form .log-twitter:hover {
    background: #2a8ac4;
}

.create-profile-form p:last-of-type {
    clear: both;    
}

.create-profile-form .opt {
    text-align: right;
    margin-right: 3px;
}

.create-profile-form label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

.create-profile-form input[type=checkbox] {
    vertical-align: middle;
    margin: -1px 5px 0 1px;
}

.login-form {
    /* Size and position */
    
    margin-top:5%;
	margin-bottom: 4%;
    padding: 15px 15px 1px 15px;
    position: relative;
	min-width: 302px;
	max-width: 100%;

    /* Styles */
    background: #fff;
    border-radius: 4px;
    color: #7e7975; 
}

.login-form h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.login-form h1 .sign-up {
    display: inline-block;
    text-transform: uppercase;
}
.login-form h1 .log-in{
display: inline-block;
}

.login-form h1 .log-in {
    color: #6c6763;
    padding-right: 2px;
}

.login-form h1 .sign-up {
    color: #62482a;
    padding-left: 2px;
}

.login-form .float {
    width: 50%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.login-form .float:first-of-type {
    padding-right: 5px;
}

.login-form .float:last-of-type {
    padding-left: 5px;
}

.login-form .floatfull {
    width: 100%;
    float: left;
    padding-top: 21px;
    border-top: 1px solid rgba(255,255,255,1);
}

.login-form label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.login-form label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.login-form input[type=text],
.login-form input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
    border-color: #CCC;
}

.login-form select {
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 99%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.login-form label:hover ~ input {
    border-color: #CCC;
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.login-form input[type=submit],
.login-form .log-twitter {
    /* Size and position */
    width: 100%;
    height: 38px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.login-form input[type=submit] {
    margin-left: 1%;
    background: #E70606;
    border: 1px solid #62482a;
    color: #fff;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}

.login-form .log-twitter {
    margin-right: 1%;
    background: #34a5cf; /* Fallback */
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.login-form input[type=submit]:hover,
.login-form .log-twitter:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.login-form input[type=submit]:active,
.login-form .log-twitter:active{
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .login-form input[type=submit]:hover {
    background: #62482a;
}

.no-boxshadow .login-form .log-twitter:hover {
    background: #2a8ac4;
}

.login-form p:last-of-type {
    clear: both;    
}

.login-form .opt {
    text-align: right;
    margin-right: 3px;
}

.login-form label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

.login-form input[type=checkbox] {
    vertical-align: middle;
    margin: -1px 5px 0 1px;
}
.login-form  .loginButtonfloat {
    width: 52%;
    float:right;
    padding-top: 0px;
    border-top: 1px solid rgba(255,255,255,1);
	margin:0 3px 20px 0;
}
#Institute{float:right;}
#Institute a{color:#62482a;}
#Modal{display:none;}
#Not-ListedInstitute input[type=text],
#Not-ListedInstitute input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#Not-ListedInstitute input[type=text]:hover,
#Not-ListedInstitute input[type=password]:hover {
    border-color: #CCC;
}
#Not-ListedInstitute input[type=submit]:hover,
.form-2 .log-twitter:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

#Not-ListedInstitute  input[type=submit]:active,
.form-2 .log-twitter:active{
    top: 1px;
}
#Not-ListedInstitute input[type=submit] {
    margin-left: 1%;
    background: #eea652; /* Fallback */
    background: -moz-linear-gradient(#eea652, #62482a);
    background: -ms-linear-gradient(#eea652, #62482a);
    background: -o-linear-gradient(#eea652, #62482a);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eea652), to(#62482a));
    background: -webkit-linear-gradient(#eea652, #62482a);
    background: linear-gradient(#eea652, #62482a);
    border: 1px solid #62482a;
    color: #fff;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}
#Not-ListedInstitute  input[type=submit],
.form-2 .log-twitter {
    /* Size and position */
    width: 100%;
    height: 38px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}
#Not-ListedInstitute h3{text-transform:uppercase;}
#Not-ListedInstitute .One-Block{height:50px;}
#Not-ListedInstitute .title{float:left;font-size: 17px;line-height: 32px;width:46%;}
#Not-ListedInstitute .title span{float:right;}
#Not-ListedInstitute .value{float:right;}

#content .loginFeature{
width: 100%;
margin: 1px auto;
border-radius: 18px;
overflow: hidden;
height: 427px;
}

#content .login{
float:left;
width: 33%;
margin-top: -38%;
margin-left: 6%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}
.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
}
.ui-widget-content a {
    color: #222222;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-widget-content {
    background: url("../images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-slider-horizontal {
    height: 0.8em;
}
.ui-slider {
    position: relative;
    text-align: left;
}
/* Questions slider ends */

.pseudoButton{
        text-decoration: none;
        background-color: #d9d9d9;
        border-radius: 15px;
        padding: 10px;
}

.pseudoButton:hover{
    background-color: #62482a;
    color: white;
    text-decoration: underline;
}

/* Question 10 Mandatory */
#QuestionBlock10{margin: 0px auto;width: 90%;}
#tblQuestion10{font-size: 12px;width: 100%;}
#tblQuestion10 tr td input[type="checkbox"]{margin-right:8px;}
/* End */

/* User Pref Css Starts*/
#prefs-holder{width: 80%;margin: 0 auto;}
#prefs-holder .LeftBlock{width:48%;float:left}
#prefs-holder .RightBlock{width:48%;float:left}
#prefs-holder #age{background:white;margin-right: 10%;border: 2px solid #eee !important;margin-top: 11px;padding: auto 12px;width: 120px;float:right;text-align: center;}
#prefs-holder #religion,#smoking,#drinking{width: 90%; margin-top: 10px;margin-bottom: 10px;}
#prefs1 select{padding:6px}
#prefs2 .pref2Slider{width: 68%;margin: 0 auto;}
#prefs2 .pref2Slider tr{height:47px;}
#prefs2 .pref2Slider select{padding:5px;}
#prefs3 .pref2Slider{margin: 0 auto;}
#prefs3 .pref2Slider select{padding:5px;}
#prefs3 .pref2Slider tr{height:47px;}
#prefs4 .pref2Slider{margin: 0 auto;}
#prefs4 .pref2Slider select{padding:5px;}
#prefs4 .pref2Slider tr{height:47px;}
/* User Pref Css Ends*/


/* qcontent classes for multiple box questions */

#qcontent2{
width: 100%;
height: auto;
background: #fff;
border-radius: 5px;
padding: 2%;
}

#qcontent2 .title{
text-align: center;
font-size: 30px;
margin-bottom: 2%;
}

#qcontent2 .question{
text-align: center;
font-size: 26px;
margin-bottom: 2%;
}

#qcontent2 .answers{
margin-bottom: 2%;
}

#qcontent2 ul li{
background: #d9d9d9;
border-radius: 18px;
display: inline;
padding: 20px 50px;
font-size: 14px;
font-weight: bold;
line-height: 65px;
}

#qcontent2 ul .active,
#qcontent2 ul li:hover{
background: #62482a;
color: #fff;
cursor: pointer;
}

#qcontent2 .optionDetails{
width: 90%;
margin: 1px auto;
margin-bottom: 2%;
}

#qcontent2 .buttons{
width: 90%;
margin: 1px auto;
margin-bottom: 2%;
}

#prefs6 .answers ul li{list-style: none;padding: 20px 50px;
font-size: 14px;
font-weight: bold;
line-height: 65px;}

/* Contact Page style starts here */

#cbox-left{
float:left;
width:50%;
border-right: 1px solid #d1d1d1;
border-bottom: 1px solid #d1d1d1;
height: 250px;
}

#cbox-left button{
border: 0px outset buttonface;
padding: 20px;
font-size: 18px;
background: #d9d9d9;
color: #000;
font-family: 'Lato', Calibri, Arial, sans-serif;
border-radius: 11px;
}

#cbox-left button:hover {
cursor: pointer;
background: #62482a;
color: #fff;
}

#cbox-left .title{
margin:40px 5px 10px 5px;;
text-align:center;
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 22px;
color: #000;
font-weight:bold;
}

#cbox-left .message{
text-align:center;
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 16px;
color: #000;
margin:0 5px 20px 5px;
}

#cbox-right{
float:right;
width:50%;
border-bottom: 1px solid #d1d1d1;
height: 250px;
}

#cbox-right button{
border: 0px outset buttonface;
padding: 20px;
font-size: 18px;
background: #d9d9d9;
color: #000;
font-family: 'Lato', Calibri, Arial, sans-serif;
border-radius: 11px;
}

#cbox-right button:hover {
cursor: pointer;
background: #62482a;
color: #fff;
}

#cbox-right .title{
margin:40px 5px 10px 5px;;
text-align:center;
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 22px;
color: #000;
font-weight:bold;
}

#cbox-right .message{
text-align:center;
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 16px;
color: #000;
margin:0 5px 20px 5px;
}



/* Contact Ends */
