<div class="row-fluid">
    <div class="span8 offset2 pages">
        <h3>About us</h3>
        <div class="para">
            <p>Hmmm - so who are we? Who are these people, you might think, who have built yet another "platform to meet other people"? </p>

            <p>Well, we're just a bunch of normal kids, just like you. Ok - maybe not kids - we are in our mid-twenties - but really quite normal otherwise. </p>
            
            <p>We go to work, hang out with friends, get piss drunk on weekends, fight raging bulls (and win), solve rubik's cube in under 10 seconds, save the world occasionally - you know - the usual stuff. </p>

            <p>We also try our luck and try and meet someone interesting once in a while - ..I mean - who doesn't? Now you would think that people like us shouldn't have trouble doing that, right? We're brilliant nerds who fight bulls and save the world for God's sake! </p>

            <p>But no. That seems easier said than done. Whether it's our workplace, or our gyms or the nightclubs - hell, we even tried standing on the road with a sign! Nothing worked. Enough is enough. We needed to do something about this! </p>

            <p>And so we started <a href="www.letshavecoffee.in">letshavecoffee.in</a>.</p>
            <p><strong>"Let's have coffee?"</strong> Such a simple statement. It is also a statement that usually marks the beginning something good :) </p>

            <p>And that is our simple wish with this product. That we can be the platform that enables us and more importantly, you guys, to find other like-minded people, meet them over coffee, and then - .who knows? </p>

            <p>We hope our product can truly make a difference in your lives. All the best and let's brew some awesomeness!! :)</p>

            <p>D & S Co-founders, letshavecoffee.in</p>
        </div>
    </div>
</div>
