<div class="row-fluid">
    <div class="span8 offset2 pages">
        <h3>Contact us</h3>

        <div class="para">
            <table class="table">
                <tr>
                    <td>
                        <h4>Expansion</h4>
                        <p>If you want let's have coffee to expand to your college, please send a request.</p>
                        <a class="btn btn-info" href="mailto:sonali.mangal@gmail.com?Subject=Request:Add new college&Body=Please add my college to your list: [Enter name of your college here]" title="Expansion">Add your college</a>
                    </td>
                    <td>
                        <h4>Success stories</h4>
                        <p>Did you meet your partner on let's have coffee? Please share your story with us.</p>
                        <a class="btn btn-success" href="mailto:sonali.mangal@gmail.com?Subject=Sharing my story!&Body=I'd like to share our story with LetsHaveCoffee:">Share your story!</a> 
                    </td>

                </tr>
                <tr>
                    <td>
                        <h4>Press</h4>
                        <p>We adooore PR and free press. Feel free to contact us for any inquiries.</p>
                        <a class="btn btn-warning" href="mailto:sonali.mangal@gmail.com?Subject=From the press&Body=Regarding LetsHaveCoffee:">For the press...</a> 
                    </td>
                    <td>
                        <h4>Parternships</h4>
                        <p>If you want to partner with us for affiliate, cross marketing or other purposes.
                        </p>
                        <a class="btn btn-inverse" href="mailto:sonali.mangal@gmail.com?Subject=Partnership&Body=Request to partner:">Partner with us!</a> 
                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>
