<div class="row-fluid">
    <div class="span8 offset2 pages">
        <h3>Frequently Asked Questions</h3>
        <div class="para">
            <p>

                <span>What is letshavecoffee.in?</span>
                <p>letshavecoffee.in is a place for you to meet like-minded people from top colleges across the country.</p>
                <br/>

                <span >How does letshavecoffee.in work?</span>
                <p>The way it works is simple. Based on the information you give us, we will send you 3 potential coffee mates every 3 days. You will have 3 days to either like or reject each of them. Don&#39;t worry &#45; we keep your like or reject confidential. Then, if you like a coffee mate, and he/she likes you too, we let you know and upon your permission, put you both in touch. Then we keep our fingers crossed and hope for the best!</p>
                <br/>

                <span >Why facebook login?</span>
                <p>Before getting into the details, we first want to assure you that when you login through FaceBook, absolutely nothing gets posted on your wall &#45; now or later. Your comfort is our highest priority.
                    <br/>Now why have FaceBook login as an option? That is because your FaceBook account has a lot if information that we need to. Eg &#45; your education background, what you like, etc. This is information that we need to. Thus, if you login through FaceBook process, it makes the initial registration process a faster and easier experience for you.</p>
                <br/>

                <span >Which colleges are accepted on letshavecoffee.in?</span>
                <p><a href="../file/documents/letshavecoffeedocs/Colleges.html" target="_blank">Click here</a> to see the list of colleges whose students and alumni we currently accept.</p>
                <br/>

                <span >If my college is not listed on your website, what can I do?</span>
                <p>In case your college is not in our database yet, you can request for it to be added by filling out this <a href="#">form</a>
                </p>
                <br/>

                <span >Why is your product currently in Beta?</span>
                <p>We have just gone live and are still ironing out some things to make sure you have a great time using our product! Therefore we are giving very few people access to our product right now, so that we can test it thoroughly. We want to make sure that when you use our product, you love it :)</p>
                <br/>

                <span >How will I know I can start using letshavecoffee.in?</span>
                <p>If you sign up with us, we will notify you via email as soon as we go live.</p>
                <br/>

            </p>
        </div>
    </div>
</div>
