        <div class="row-fluid" id="content">
            <div class="span4 offset2">
                <div class="picture">
                    <img src="./images/sketch.png" width="90%">
                </div>
            </div>
            <div class="span2">
                <div class="steps">
                    <img src="./images/process.png">
                </div>
            </div>
            <div class="span4">
                <div id="signup">
                    <p>Ready for an adventure?</p>
                        <fieldset>
                            <input ng-controller="TypeaheadCtrl" placeholder="Start typing to choose college..." type="text" ng-model="user.college" typeahead="college for college in colleges | filter:$viewValue | limitTo:8">
                            <input type="email" placeholder="Enter your email id">
                            <div class="span3 radiotext">
                                I am a...
                            </div>
                            <div class="span3">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                <img src="images/boy.png" alt-text="boy">
                            </div>
                            <div class="span3">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                <img src="images/girl.png" alt-text="girl">
                            </div>
                        </fieldset>
                        <hr/>
                        <button type="submit" class="btn btn-success btn-block" style="font-family:agenda; font-size:18px; border-radius:6px">Get on the waitlist !</button>
                </div>
            </div>
        </div>
        <div class="row-fluid" id="bottom">
            <div class="span3 offset2">
                <div class="row-fluid box">
                    <div class="span2">
                        <img src="./images/verified.png">
                    </div>
                    <div class="span8">
                        <h3>Anonymous</h3>
                        <p>Identities are not shared till there's a mutual like and you permit us</p>
                    </div>
                </div>
            </div>
            <div class="span3 ">
                <div class="row-fluid box">
                    <div class="span2">
                        <img src="./images/star.png">
                    </div>
                    <div class="span8">
                        <h3>Exclusive</h3>
                        <p>We allow students and alumni of top colleges only</p>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid box">
                    <div class="span2">
                        <img src="./images/nosearch.png">
                    </div>
                    <div class="span8">
                        <h3>Private</h3>
                        <p>We only connect you to people who you have allowed</p>
                    </div>
                </div>
            </div>
        </div>